<div class='row mt-4'>
    <div class='col-sm'>
    </div>
    <div class='col-sm'>
        <h1>Forgot Password</h1>

        <%= form_with model: @user, url: password_reset_path do |form| %>

                <div class="field mb-2">
                    <%= form.label :email %>
                    <%= form.email_field :email, autofocus: true, class: 'form-control' %>
                </div>
                <div class="actions mt-4 text-center">
                    <%= form.submit "Send Me Token", class: 'btn btn-primary btn-block mb-4' %>
                </div>
        <% end %>
    </div>
    <div class='col-sm'>
    </div>
</div>