<div class='container-fluid p-2 m-2 h-100'>
  <div class='row'>
    <div class='col-md-3'>
        <h3>Settings</h3>
        <%= render partial: 'settings' %>
    </div>
    <div class='col-md-7'>
        <h3>Working Area</h3>
    </div>
    <div class='col-md-2'>
        <h3>Gallery</h3>
    </div>
  </div>
</div>
